In [1]:
import pandas as pd
import sys, os

# Agrega la carpeta padre (competencia_02) al PYTHONPATH
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

# Importar configuraciÃ³n
from config.config import BUCKET_PATH_b1, FILE_BASE

In [2]:
# Definir ruta de entrada dentro del bucket local montado
path_input = os.path.join(BUCKET_PATH_b1, f"{FILE_BASE}.csv.gz")

In [3]:
print(f"ðŸ“‚ Leyendo dataset desde: {path_input}")

# Cargar el dataset
df = pd.read_csv(path_input, compression="gzip")

print(f"âœ… Dataset cargado correctamente con forma: {df.shape}")

ðŸ“‚ Leyendo dataset desde: /home/sanmartinofacundo/buckets/b1/competencia_02.csv.gz
âœ… Dataset cargado correctamente con forma: (4717958, 155)

In [4]:
df.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,352590775,201907,1,0,1,47,267,128.32,37610.81,-985.02,...,0.0,0.0,-20180.40,0.0,4622.0,3451.07,7.0,0.0,0.00,CONTINUA
1,352590775,201908,1,0,1,47,268,1998.01,38114.25,1009.02,...,3.0,0.0,0.00,0.0,4653.0,3849.51,7.0,0.0,0.00,CONTINUA
2,352590775,201909,1,0,1,47,269,942.20,37249.47,549.12,...,5.0,0.0,-513.09,0.0,4683.0,4291.09,7.0,0.0,750.72,CONTINUA
3,352590775,201910,1,0,1,47,270,0.00,0.00,0.00,...,1.0,0.0,-10094.82,0.0,4714.0,4286.29,7.0,0.0,551.31,CONTINUA
4,352590775,201911,1,0,1,47,271,3457.68,38553.36,1524.99,...,3.0,0.0,-6863.80,0.0,4744.0,5122.86,7.0,0.0,598.23,CONTINUA

In [5]:
# columnas con un Ãºnico valor Ãºnico
cols_constantes = [col for col in df.columns if df[col].nunique(dropna=False) == 1]

print(f"Cantidad de columnas constantes: {len(cols_constantes)}")
print(cols_constantes)

Cantidad de columnas constantes: 0
[]